@import url(./global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-black);
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    gap: 40px;

}

header nav ul li a {
    text-decoration: none;
    color: var(--color-white);

}

.btn-header a {
    padding: 8px 24px;
    text-decoration: none;

}

.btn-header-tryfree {
    background-color: var(--color-green);
    border-radius: 40px;
}

.btn-header-login {
    color: var(--color-white);
}

main {
    padding: 60px 166px;
    background-color: var(--color-black);
    display: flex;
    gap: 85px;

}

.identify {
    display: flex;
    width: fit-content;
    color: var(--color-green);
    gap: 4px;
    border: 1px solid var(--color-gray2);
    padding: 10px 12px;
    border-radius: 24px;
    font-size: var(--font-size-text2);
    
}


.content-main  {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.content-main-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.identify span {
    display: flex;
}




h1 {
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-weight: bold;
    font-family: var(--font-family-alexandria);
}

main p {
    font-size: var(--font-size-subtitle);
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-style: normal;
}


.video-main {
    display: flex;
    gap: 13px;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
    width: 180px;
    justify-content: center;
    align-items: center;

}



.container-buttons-main {
    display: flex;
    gap: 20px;

}

.container-buttons-main a {
    font-size: var(--font-size-button);
}


.buttons-main-started {
    background-color: var(--color-green);
    padding: 14px 24px;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 40px;
}

.video-main a {
    text-decoration: none;
    color: var(--color-white);

}

.section-satisfied-partners {
    display: flex;
    flex-direction: column;
    padding: 40px 330px;
    background-color: var(--color-gray4);
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: var(--font-size-text1);
    
}

.section-satisfied-partners p {
    color: var(--color-gray1);
}

.container_logoipsum {
    display: flex;
    gap: 40px;
}