@import url(./global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-black);
    padding: 20px 0px;
}

header nav ul {
    display: flex;
    gap: 40px;

}

header nav ul li a {
    text-decoration: none;
    color: var(--color-white);

}

.btn-header a {
    padding: 8px 24px;
    text-decoration: none;

}

.btn-header-tryfree {
    background-color: var(--color-green);
    border-radius: 40px;
}

.btn-header-login {
    color: var(--color-white);
}

main {
    padding: 60px 166px;
    background-color: var(--color-black);
    display: flex;
    gap: 85px;

}

.identify {
    display: flex;
    /* width:fit-content */
    color: var(--color-green);
    gap: 4px;
    border: 1px solid var(--color-gray2);
    padding: 10px 12px;
    border-radius: 24px;
    font-size: var(--font-size-text2);
}

main .identify {
    align-self: self-start;
}


.content-main {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.content-main-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 568px;


}

.content-main-text p {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
}

.identify span {
    display: flex;
}





h1 {
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-weight: bold;
    font-family: var(--font-family-alexandria);
}

main p {
    font-size: var(--font-size-subtitle);
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-style: normal;
}


.video-main {
    display: flex;
    gap: 13px;
    padding: 14px 24px;
    border: 1.5px solid var(--color-gray2);
    border-radius: 40px;
    width: 180px;
    justify-content: center;
    align-items: center;

}



.container-buttons-main {
    display: flex;
    gap: 20px;

}

.container-buttons-main a {
    font-size: var(--font-size-button);
}


.buttons-main-started {
    background-color: var(--color-green);
    padding: 14px 24px;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 40px;
}

.video-main a {
    text-decoration: none;
    color: var(--color-white);

}

.section-satisfied-partners {
    display: flex;
    flex-direction: column;
    padding: 40px 330px;
    background-color: var(--color-gray4);
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: var(--font-size-text1);

}

.section-satisfied-partners p {
    color: var(--color-gray1);
}

.container_logoipsum {
    display: flex;
    gap: 40px;
}

.Features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 120px;
    gap: 60px;

}

.up-features-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.up-features-text h2 {
    color: var(--color-white);
    font-size: var(--font-size-title2);

}

.up-features-text p {
    color: var(--color-gray1);
    font-size: var(--font-size-button);
    width: 572px;
    text-align: center;
    font-family: var(--font-family-inter);
}

.card-features {
    display: flex;
    gap: 36px;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff04;
    border: 1px solid var(--color-gray1);
    padding: 48px 36px;
    text-align: center;
    border-radius: 12px;


}

.card-features h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);

}

.card-features p {
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    width: 312px;
}

.img-cards-features {
    width: 48px;
}

.card-container-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-cards-features {
    display: flex;
    gap: 20px;
}

.section-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gray4);
    padding: 60px 120px;
    gap: 60px;
}

.up-section-statistics h2 {

    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    color: var(--color-white);

}

.up-section-statistics p {
    color: var(--color-gray1);
    width: 644px;
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    text-align: center;
}

.up-section-statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;


}

.info-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info-statistics h3 {
    color: var(--color-green);
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
}

.info-statistics p {
    color: var(--color-gray1);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
}

.bottom-section-statistics {
    display: flex;
    gap: 72px;
}

.section-feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 156px;
    gap: 60px;
}

.up-text-section-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.up-text-section-feature h2 {
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    color: var(--color-white);
}

.up-text-section-feature p {
    color: var(--color-gray1);
    width: 644px;
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    text-align: center;
}

.card-info-section-feature {
    padding: 30px 20px;
    background-color: var(--color-gray4);
    border-radius: 20px;
    border: 1px solid var(--color-gray1);
}

.card-info-section-feature {
    display: flex;
    gap: 33px;
}

.container-text-card-feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-text-card-feature h3 {
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);

}


.container-text-card-feature p {
    color: var(--color-gray1);
    width: 535px;
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
}

.bottom-section-feature {
    display: flex;
    gap: 70px;
}

.container-info-section-feature {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 63px 0px;
    gap: 60px;
    background-color: var(--color-gray4);
}

.up-text-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.up-text-faq h2 {
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    color: var(--color-white);
}

.up-text-faq p {
    color: var(--color-gray1);
    width: 644px;
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    text-align: center;
}

.down-questions-faq {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.question-faq {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    width: 732px;
    font-size: var(--font-size-text1);
    font-family: var(--font-family-alexandria);
    border: 1px solid var(--color-gray3);

}

.section-revolutionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 317px;
    gap: 40px;
}

.up-text-revolutionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.up-text-revolutionary h2 {
    font-size: var(--font-size-title2);
    font-family: var(--font-family-alexandria);
    color: var(--color-white);
    width: 878px;
    text-align: center;
}

.up-text-revolutionary p {
    color: var(--color-gray1);
    width: 644px;
    font-size: var(--font-size-button);
    font-family: var(--font-family-inter);
    text-align: center;
}

.section-revolutionary nav a {
    padding: 14px 24px;
    background-color: var(--color-green);
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-size-button);
    font-family: var(--font-family-alexandria);
}

footer {
    padding: 60px 78px;
}

.group1-footer {
    display: flex;
    gap: 92px;
    align-items: flex-start;
}

.content-group1-footer {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.content-group1-footer ul li a {
    text-decoration: none;
    color: var(--color-gray1);
}
.content-group1-footer ul  {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.content-group1-footer h2 {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
}